/* global rule */
.grid-art{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35vw, 1fr));
  grid-gap: 16px 12px;
  padding: 70px 0 30px;
}

@media (max-width: 838px){
.grid-art{
    grid-template-columns: repeat(auto-fit, minmax(60vw, 1fr));
}
}

@media (max-width: 350px){
    .grid-art{
        grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
    }
}

.text-align{
    text-align: center;
}
/* global rule */


/* start main page */

.page{
    position: relative;
    top: 58.4px;
    width: 100%;
    height: calc(100vh - 58.4px);
    display: grid;
    grid-template-columns: 1fr;
}

.back-to-top{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 50px;
    z-index: 999;
    background-color: var(--main-dark);
}

.back-to-top i{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translatex(-50%) translateY(-50%);
    -webkit-transform: translatex(-50%) translateY(-50%);
    -moz-transform: translatex(-50%) translateY(-50%);
    -ms-transform: translatex(-50%) translateY(-50%);
    -o-transform: translatex(-50%) translateY(-50%);
}

/* end main page */
/* start sidebar */
.bookmark-section{
    width: 95%;
    margin: 30px auto;
    padding: 5px 15px;
    background-color: var(--main-bg-color);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;

}

.bookmark-section .bookmark-section-header{
    color: var(--main-color);
    margin: 0 auto;
    width: fit-content;
}

.bookmark-section .bookmark{
    border-radius: 6px;
    background-color: white;
    color: var(--main-color);
    display: block;
    margin: 15px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}


.alert-mess{
    padding: 20px 10px;
    margin: 30px auto;
    background-color: orangered;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    width: 95%;
    text-align: center;
}

.alert-mess h1{
    margin: 0;
    padding: 0;
}

/* end sidebar */
/* start info */
.article-page .container-art .info-section{
    width: 95%;
    height: fit-content;
    margin: 0 auto;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: var(--main-bg-color);
    direction: rtl;
    padding: 0 30px;
}

.article-page .container-art .info-section .info-section-header{
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    color: var(--main-color);
    padding-top: 25px;
}

.article-page .container-art .info-section .info-cards .info-card{
    background-color: white;
    height: 35vw;
    width: 35vw;
    border-radius: 6px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

@media (max-width: 838px){
    .article-page .container-art .info-section .info-cards .info-card{
        height: 60vw;
        width: 60vw;
    }
}

@media (max-width: 350px) {
    .article-page .container-art .info-section .info-cards .info-card{
        width: 50vw;
        height: 50vw;
    }
}

.article-page .container-art .info-section .info-cards .info-card .info-card-header{
    color: var(--main-color);
}

.article-page .container-art .info-section .info-cards .info-card .info-card-header h1{
    font-weight: 400;
}

.article-page .container-art .info-section .info-cards .info-card .info-card-text h2{
    font-weight: 300;
}

@media (max-width: 355px){
.article-page .container-art .info-section .info-cards .info-card .info-card-header h1{
    font-size: 20px;
    }
.article-page .container-art .info-section .info-cards .info-card .info-card-text h2{
    font-size: 17px;
    }
}

@media (max-width: 576px){
    .article-page .container-art .info-section .info-cards .info-card .info-card-icon i{
     font-size: 20vw;
    }
}



/* end info */
/* start article */
.article-page{
position: relative;
}
.article-page .container-art .article{
    word-break: keep-all;
    position: relative;
    height: calc(100vh - 58.4px);
    font-weight: 300;
    overflow: auto;
}

.article-page .container-art .article .article-header{
    margin: 0 auto;
    width: fit-content;
    color: var(--main-color);
}



.article-page .container-art .article .article-section{
    direction: rtl;
    line-height: 2;
    word-spacing: 5px;
    padding: 0 15px;
    width: 95%;
    margin: 100px auto;
}

.article-page .container-art .article .article-section h2{
    color: var(--main-color);
}

.article-page .container-art .article .article-section span{
    color: var(--main-dark);
}
/* end article */
/* reference */
.reference-section{
    width: 95%;
    margin: 30px auto;
    padding: 5px 15px;
    background-color: var(--main-bg-color);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.reference-section .reference-section-header{
    color: var(--main-color);
    margin: 0 auto;
    width: fit-content;
}

.reference-section .reference{
    border-radius: 6px;
    background-color: white;
    color: var(--main-color);
    display: block;
    margin: 15px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}