

/* start var */
:root{
    --main-color: #2196f3;
    --main-dark: #145b94;
    --main-bg-color: #f6f6f6;
}
/* end var */
/* global rule */
* {
  box-sizing: border-box;
  
}

*::-webkit-scrollbar {
  width: 5px;
  margin-right: -5px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}



i{
  color: var(--main-color)
}

html{
  height: 100%;
  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  font-family: "cairo", "sans serif";
  height: 100%;
}

.border-radius{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.grid{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 16px 12px;
  padding: 100px 0 30px;
}

@media (min-width: 1200px){
  .grid{
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

  }
}

@media (max-width: 400px){
  .grid{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

  }
}

button{
    font-family: "cairo", "sans serif";
}

.btn{
  width: 100px;
  height: 25px;
  border: 0;
  text-decoration: none;
  text-align: center;
  padding: 3px;
  color: black;
  background: var(--main-color);
  border-radius: 5px;
  box-shadow: 0 5px 0 #002D62;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

.btn:active{
  box-shadow: none;
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}

.container-art{
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .container {
    width: 90%;
    padding: 0;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 95%;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 90%;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 95%;
  }
}
/* end rule */
/* start nav */
.nav {
  padding: 15px 0;
  background-color: #f6f6f6;
  height: 58.4px;
  width: 100%;
  position: fixed;
  z-index: 99999;
  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .container .logo{
  position: relative;
  width: 30px;
  height: 20.11px;
}

.nav .container .logo img {
  width: 30px;
  position: absolute;
}

.nav .container .links .main-links {
  margin: 0;
  direction: rtl;
  padding: 0;
}

.nav .container .links .main-links li {
  display: inline-block;
  margin: 0;
  position: relative;
}

.nav .container .links .main-links li:not(:first-child) {
  margin: 0 15px 0 0  ;
}

@media (max-width: 567px){
  .nav .container .links .main-links li:not(:first-child) {
    margin: 0 5px 0 0;
  }
}

.nav .container .links .main-links li a {
  text-decoration: none;
  color: black;
}

.nav .container .links .main-links li a:hover {
  color: var(--main-color);
}


/* end nav */
/* start footer */
.footer{
    height: 150px;
    background-color: #002D62;
}

.footer .container .footer-logo img{
    width:140px;
}
/* end footer */